/* DIEGO REIJA LOPEZ */

@import url(https://use.fontawesome.com/releases/v6.5.1/css/all.css);

:root {
    .black {color: #000000};
    .white {color: #ffffff};
    .red {color: #ff0000};
    .gradient-1 {background: linear-gradient(150deg, #ff2600, #ff009d);
                 background-clip: text;
                 text-shadow: none;
                 -webkit-background-clip: text;
                 -webkit-text-fill-color: transparent;
                 font-family: 'Arial Black', sans-serif;
                 font-weight: bolder;};
    .gray {color:rgb(17, 17, 17)};
    .grey {color: #717571};

}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% del viewport height */
    background-color: rgb(17, 17, 17);
}

i {
    font-size: 300%;
    margin-left: 20%;
    margin-top: 10%;
    color: #42424c;    
}

.bx-user:hover,
.bxs-award:hover,
.bx-code-alt:hover,
.bx-history:hover,
.bx-mail-send:hover,
.bx-question-mark:hover{
    color: #ff009d;
}



a {
    text-decoration: none;
}
/*
body {
  height: 100vh;
  --s: 200px; 
  --c1: #0c0c0c;
  --c2: #393a3b;
  --c3: #292929;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}
*/


/*****************************************************************************************/

section {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.container {
    margin-left: 4%;
    width: 94%;
    height: 94%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "n1 n1 n2 n2 n2 n2 n2 n2 n2 n3"
    "n1 n1 n2 n2 n2 n2 n2 n2 n2 n3"
    "n1 n1 n2 n2 n2 n2 n2 n2 n2 n3";
}



/*****************************************************************************************/
.container-1 {
  width: 100%;
  height: 100%;
  grid-area: n1;
}

.subcontainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,1fr);
    grid-template-areas: 
    "n1 n1 n1"
    "n1 n1 n1"
    "n2 n2 n2"
    "n2 n2 n2"
    "n2 n2 n2"
    "n3 n3 n3"
    "n3 n3 n3"
    "n3 n3 n3"
    "n3 n3 n3";
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.subcontainer-1-1 {
    grid-area: n1;
    background: linear-gradient(150deg, #ff2600, #ff009d);
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    height: 100%;
}

.subcontainer-1-2 {
  position: absolute;
  grid-area: n2;
  top: 0%;
}

span{
    background: linear-gradient(150deg, #ff2600, #ff009d);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Arial Blac  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  k', sans-serif;
    font-weight: bolder;
    white-space: nowrap;
    margin-left: 3%;
}

h2 {
    font-size: 33px;
    margin-top: 29%;
    white-space: nowrap;
}

.subcontainer-1-3 {
    width: 20%;
    height: 20%;
    grid-area: n3;
    border-color: #717571 1px;
}
#welcome {
    font-size: 55px;
    font-family: 'Arial Blac  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  k', sans-serif;
    font-weight: bolder;
    background: linear-gradient(150deg, #ff2600, #ff009d);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2%;
    margin-left: 3%;
}

.descriptions {
  margin-top: 55%;
}

.idiomas {
  width: 12%;
}

#españa {
  position: absolute;
  top: 192%;
  left: 45%;
}

#reino_unido {
  position: absolute;
  top: 193%;
  width: 12%;
  left: 60%;
}

/*****************************************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/
/*************      CERTIFICACIONES      *****************************/



/*****************************************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/

.form-container {
  position: absolute;
  width: 1000px;
  background: transparent;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 7%;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  top: 20%;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 20%;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #ff2600;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #ff2600;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #020202;
  font-weight: 600;
  width: 40%;
  background: transparent;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background: linear-gradient(150deg, #ff2600, #ff009d);
  border-color: #ff009d;
}
/*********************************/
.Btn {
  width: 60px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgb(0, 0, 0);
}


.BG {
  position: absolute;
  content: "";
  width: 77%;
  height: 100%;
  background: #2c32348d;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all .3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgb(255, 0, 0);
  backdrop-filter: blur(4px);
}

.inicial {
  position: absolute;
  margin-top: 0%;
}
.inicial-2 {
  position: absolute;
  margin-top: 100%;
}

.fila-1 {
  top: 0%;
}

.fila-2 {
  position: absolute;
  top: 105%;
}

.fila-3 {
  position: absolute;
  top: 122%;
}


/*****************************************************************************************/
.container-2,
.container-2-part-2,
.container-3-part-3,
.container4-part4,
.container-5-part-5,
.container-6-part-6{
    width: 100%;
    height: 100%;
    margin-left: 1%;
    grid-area: n2;    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

p {
    position: absolute;
    top: 5%;
    margin: 5%;
    font-size: 20px;
    font-family: 'Arial Blac  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  k', sans-serif;
    font-weight: bold;
    color: #757171;
    text-align: justify;
}

.container-2-1 {
    position: absolute;
    width: 96%;
    left: 2%;
    top: 60%;
    /*background-color: #717571;*/
    margin: 1px;
    height: 35%;
    gap: 22px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1);
    grid-template-areas: 
    "n1 n2 n3 n4";
}

.subcontainer-2-3 {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0%;
    grid-area: n1;
    margin: 5px;
    height: 35%;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4);
    grid-template-areas: 
    "n1 n2 n3 n4"
    "n5 n6 n7 n8"
    "n9 n10 n11 n12"
    "n13 n14 n15 n16";
}


.item-1 {
    align-items: center;
    width: 80%;
}

#hr5 {
    position: absolute;
    top: 60%;
    width: 0.2%;
    height: 27%;
    left: 25%;
}

#hr6 {
    position: absolute;
    top: 60%;
    width: 0.2%;
    height: 27%;
    left: 49.35%;
}


#hr7 {
    position: absolute;
    top: 60%;
    width: 0.2%;
    height: 27%;
    left: 74.20%;
}

#hr8 {
  position: absolute;
  top: 40%;
  width: 40%;
  height: 0.75%;
  left: 30%;
}

#hr9 {
  position: absolute;
  top: 90%;
  width: 40%;
  height: 0.75%;
  left: 30%;
}

#hr10 {
  position: absolute;
  top: 220%;
  width: 40%;
  height: 0.75%;
  left: 30%;
}

#hr11 {
  position: absolute;
  top: 270%;
  width: 40%;
  height: 0.75%;
  left: 30%;
}

#hr5-1 {
    position: absolute;
    top: 70%;  
}


.item-2 {
    align-items: center;
    width: 90%;
}

.item-3 {
    align-items: center;
    width: 90%;
}

.img12 {
    width: 110%;
    margin-left: -20%;
}

.img13, .img17 {
    margin-top: -10%;
    width: 110%;
}

.img18, .img19, .img20{
    margin-top: 8%;
}

.img19 {
    width: 80%;
}

.img25, .img26, .img29{
    width: 70%;
}


.img27 {
    width: 73%;
}

.img30 {
    margin-left: -15%;
}

.img31 {
    margin-left: -15%;
}

.img30, .img31 {
    width: 100%;
    height: 78%;
}

.item-4 {
    align-items: center;
    /*
    background-color: #000000;
    */
    width: 80%;
}

.img56 {
    width: 82%;
}

.img57 {
    width: 89%;
}

.img58 {
    width: 70%;
    margin-left: 10%;
}

.img59 {
    margin-top: 10%;
    width: 50%;
    margin-left: 13%;
}

.img60 {
  width: 90%;
  margin-left: -12%;
}

/*.img1,*/ /* .img2,*/ /*.img3,*/
.img4, /*.img5, .img6,*/
.img7, .img8, .img9,
.img10, .img11, .img12,
.img13, .img14, .img15,
.img16, .img17, /*.img18,*/
.img19, .img20, .img21,
.img22, .img23, .img24,
.img25, .img26, .img27,
.img28, .img29, .img30,
.img31, .img32, .img33,
.img34 , .img35, .img36,
.img37, .img38, .img39,
.img40, .img41, .img42,
.img43, .img44, .img45,
.img46, .img47, .img48,
/*.img49,*/ /*.img50,*/ /*.img51,*/
/*.img52,*/ /*.img53,*/ .img54,
.img55,  .img56, .img57,
/*.img58,*/  .img59, .img60,
.img61, .img62, .img63,
.img64, .img65, .img66{
    filter: grayscale(100%);
}


.subcontainer-2-4 {
    position: absolute;
    width: 95%;
    top: 0%;
    height: 100%;
    margin: 1px;
    height: 35%;
    grid-area: n2;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4);
    grid-template-areas: 
    "n1 n2 n3 n4"
    "n5 n6 n7 n8"
    "n9 n10 n11 n12"
    "n13 n14 n15 n16";
}

.subcontainer-2-5 {
    position: absolute;
    width: 95%;
    margin: 15px;
    height: 35%;
    grid-area: n3;
    /*
    outline: 1px solid blue;
    background-color: #ff0000;
    */
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4);
    grid-template-areas: 
    "n1 n2 n3 n4"
    "n5 n6 n7 n8"
    "n9 n10 n11 n12"
    "n13 n14 n15 n16";
}

.subcontainer-2-6 {
    position: absolute;
    width: 95%;
    margin: 5px;
    height: 35%;
    grid-area: n4;
    /*
    outline: 1px solid blue;
    background-color: #ff0000;
    */
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4);
    grid-template-areas: 
    "n1 n2 n3 n4"
    "n5 n6 n7 n8"
    "n9 n10 n11 n12"
    "n13 n14 n15 n16";
}
/*****************************************************************************************/
.btn {
    --border-color: linear-gradient(150deg, #ff2600, #ff009d);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: rgb(17, 17, 17);
    --color: #ffffff;
    color: var(--color);
    cursor: pointer;
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: 0.5em 3em;
    font-size: 17px;
    font-weight: bolder;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
      /* Top-left */ 0% var(--curve-size),
      var(--curve-size) 0,
      /* top-right */ 100% 0,
      100% calc(100% - var(--curve-size)),
      /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
      /* bottom-right 2 */ 0 100%
    );
    transition: color 250ms;
    white-space: nowrap;
  }
  
  .btn::after,
  .btn::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%;
    }
  
    50% {
      background-position: 70% 100%;
    }
  
    100% {
      background-position: 31% 0%;
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
      /* Top-left */ var(--border-width)
        calc(var(--curve-size) + var(--border-width) * 0.5),
      calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
      /* Top-left */ calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      calc(100% - var(--border-width)) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #000000;
    font-weight: bolder;
  }
  
#CV {
  position: absolute;
    top: 90%;
    left: 15%;
}


#github-2 {
  position: absolute;
  top: 215%;
  left: -10%;
}

#github-2:hover {
  color: #ffffff;
}

.links {
  position: absolute;  
}

.links:hover {
  transition: 0.3s;
}

.bxl-instagram {
  top: 215%;
  left: 10%;

}

.bxl-instagram:hover {
  color: #ff009d;
}


.bxl-twitter {
  top: 215%;
  left: 30%;
}

.bxl-twitter:hover {
  color: #00c3ff;
}

/*.bxl-linkedin*/.bxl-spotify {
  top: 213%;
  left: 50%;
}

.bxl-linkedin:hover {
  color: #0026ff;
}

/*
.bxl-spotify {
  top: 255%;
  left: -10%;
}
*/

.bxl-spotify:hover {
  color: #37ff00;
}

.bxl-youtube {
  top: 255%;
  left: 10%;
}

.bxl-youtube:hover {
  color: #ff0000;
}

.bxl-twitch {
  top: 255%;
  left: 30%;
}

.bxl-twitch:hover {
  color: #d400ff;
}

/*****************************************************************************************/
.container-3 {
    width: 45%;
    height: 37%;
    margin-left: 15%;
    grid-area: n3;    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.subcontainer3 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "n1"
    "n2"
    "n3"
    "n4"
    "n5";
}

.subcontainer-3-1 {
    grid-area: n1;
}

.hrr {
    background: linear-gradient(150deg, #ff2600, #ff009d);
    border-color: linear-gradient(150deg, #ff2600, #ff009d);
    color: linear-gradient(150deg, #ff2600, #ff009d);
    border: none;
    width: 70%;
    height: 0.15%;
    left: 15%;
}

#hr1 {
    position: absolute;
    top: 17%;
}

.subcontainer-3-2 {
    grid-area: n2;
}

#hr2 {
    position: absolute;
    top: 38%;
}
.subcontainer-3-3 {
    grid-area: n3;
}

#hr3 {
    position: absolute;
    top: 56%;
}

.subcontainer3-4 {
    grid-area: n4;
}

#hr4 {
    position: absolute;
    top: 64%;
}

.subcontainer3-5 {
    grid-area: n5;
}

#hr20 {
  position: absolute;
  top: 76%;
}

/*****************************************************************************************/
.img_cert {
  position: absolute;
  width: 22%;  

  left: 10%;
  top: 25%;
  transition: transform 0.2s ease-in-out, filter 0.3s ease-in-out;
}



.certifications_imgs_red_team {
  width: 30%; /* Ajusta según sea necesario */  
  border-radius: 12px;  
  filter: grayscale(100%);
}

.certifications_imgs_red_team:hover {
  box-shadow: 0px 0px 25px #ff009d;
}

.submenu {
  position: absolute;
  display: none;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);
  border-radius: 0px 16px 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(19, 18, 18, 0.468);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#submenu1 {
  top: 15%;
  left: 0%;
  width: 80%;
  height: 85%;
}

#submenu2, #submenu3 {
  border-radius: 14px;
  top: 19%;
  left: 28%;
  width: 40%;
  height: 65%;
  padding: 20px; /* Ajusta según sea necesario */
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(120, 119, 119, 0.267);
  border: 1px solid rgba(255, 255, 255, 0.397);
}

.show-submenu1 #submenu1 {
  display: block;
  opacity: 1;
}

.show-submenu1 .img_cert {
  width: 18%;
  transform: translateX(395%); /* Ajusta según sea necesario */
}

.show-submenu2 #submenu2, .show-submenu3 #submenu3 {
  display: block;
  opacity: 1;
}

#ejpt {
  position: absolute;
  top: 4%;
  left: 2%;
}

#ecppt {
  position: absolute;
  top: 4%;
  left: 35%;
}

#ewptx {
  position: absolute;
  top: 4%;
  left: 68%;
}

#emapt {
  position: absolute;
  top: 31%;
  left: 2%;
}


.explication_exam, #colum_1 {
  font-weight: bolder;
}

ul, .enunciados {
  list-style-type: none; /* Elimina los puntos */
  padding: 0; /* Elimina el padding por defecto */
}

.puntos {
  list-style-type: circle;
  margin-left: 10%;
}

li.obj_exam {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  gap: 10px; /* Espacio entre columnas */
}

/* Estilos para columnas en el segundo li */
.two-columns {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px; /* Añadir margen entre columnas */
  margin-right: 10px; /* Espacio entre columnas */
}

.column:last-child {
  margin-right: 0; /* Sin margen derecho en la última columna */
}

.ejpt_caracterist {
  position: absolute;
  width: 50%;
  left: 48%;
}

em {
  font-weight: bold;
}


.submenu::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}

.submenu::-webkit-scrollbar-track {
  width: 1px;
  background-color: transparent;

}
/*****************************************************************************************/

h1 {
    background: linear-gradient(150deg, var(--color7),var(--color6));
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Arial Black', sans-serif;
    font-weight: bolder;
    font-size: 75px;
    left: 10%;
    position: absolute;
  }

.proyectos {
    position: absolute;
    width: 90%;
    margin: 5px;
    height: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 2%;
    left: 5%;
    grid-area: n4;

    gap: 8px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4);
    grid-template-areas: 
    "n1 n2 n3 n4"
    "n5 n6 n7 n8"
    "n9 n10 n11 n12"
    "n13 n14 n15 n16";
}

.proyectos::-webkit-scrollbar {
    background-color: transparent;
}

.card {
    position: absolute;
    text-align: center;
    height: 295px;
    width: 230px;
    top: 4%;
    
    align-items: center;
    /*min-width: 200px;*/
    border-radius: 16px;
    background: #131315;
    transition: .2s;
    font-family: 'Inter', sans-serif;
}


.card:hover {
    transform: translateY(-0.4rem);
  }
    
  .card-author {
    position: relative;
    display: flex;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 3rem 0 0;
  }
    
  .author-name {
    color: #7a7a8c;
  }
    
  .author-name-prefix {
    color: #ff005d;
    font-weight: 600;
  }
  
  #fecha {
      position: relative;
      color: var(--color3);
      text-align: right;
      margin-top: 7%;
      right: 10%;
  }
  
  .author-avatar em {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f2f2f2;
    margin: 10px 10px;
  }
    
  .half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff4400;
    stroke-width: 8;
    stroke-linecap: round;
  }
    
  .card-header {
    margin-bottom: auto;
    color: #42424c;
  }
    
  .card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #42424c;
  }
    
  .card-header .title {
    font-size: 25px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    font-family: 'Arial Black', sans-serif;
  }
    
  .card-header .title:hover {
    background: linear-gradient(90deg,#ff4400,#ff005d);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #icon-1 {
    position: absolute;
    font-size: 50px;
    left: -12%;
    top: 73%;
    color: #42424c;
  }
  
  #icon-2 {
    position: absolute;
    font-size: 50px;
    top: 73%;
    left: 6%;
    color: #42424c;
  }
  
  #icon-3 {
    position: absolute;
    font-size: 50px;
    top: 73%;
    left: 24%;
    color: #42424c;
  }

  .img {
    position: absolute;
    width: 15%;
    top: 83%;
    left: 48%;
    filter: grayscale(100%);
    color: var(--color11);
  }

.file1 {    
    position: absolute;
    top: 50%;
}

.file2 {    
    position: absolute;
    top: 105%;
}

.file3 {    
    position: absolute;
    top: 105%;
}

.file4 {    
    position: absolute;
    top: 116%;
}

  #card-1 {
    grid-area: n1;
  }

  #card-2 {
    grid-area: n2;
  }

  #card-3 {
    grid-area: n3;
  }

  #card-4 {
    grid-area: n4;
  }

  #card-5 {
    grid-area: n5;
  }

  #card-6 {
    grid-area: n6;
  }
 
  #card-7 {
    grid-area: n7;
  }

  #card-8 {
    grid-area: n8;
  }

  #card-9 {
    grid-area: n9;
  }

/********************************************************************************************************************************************************************/

.select {
  width: fit-content;
  cursor: pointer;
  position: absolute;
  transition: 300ms;
  color: #ffffff;
  overflow: hidden;
  top: 4.5%;
  left: 65%;
}

.selected {
  background-color: #232323;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 20%;
  fill: #ffffff;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #232323;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #232323;
  width: 92%;
  font-size: 15px;
}
.option:hover {
  background: linear-gradient(150deg, #ff2600, #ff009d);
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#all:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}
/*****/
.input {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #232323;
  justify-content: center;
  border-radius: 5px;
  top: 4.5%;
  left:  80%;
}

.value {
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.value:not(:active):hover,
.value:focus {
  background: linear-gradient(150deg, #ff2600, #ff009d);
}

.value:focus,
.value:active {
  outline: none;
}


.value:focus::before,
.value:active::before {
  opacity: 1;
  
}


.input:hover > :not(.value:hover) {
  transition: 300ms;
  filter: blur(1px);
  transform: scale(0.95,0.95);
  
}
















.minicontainers {
  position: absolute;
  width: 100%;
  height: 83%;
  border: 1px solid #0026ff;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(8);
  grid-template-areas: 
  "n1 n1 n1 n1 n1 n1"
  "n2 n2 n2 n2 n2 n2"
  "n2 n2 n2 n2 n2 n2"
  "n2 n2 n2 n2 n2 n2"
  "n3 n3 n3 n3 n3 n3"
  "n4 n4 n4 n4 n4 n4"
  "n4 n4 n4 n4 n4 n4"
  "n4 n4 n4 n4 n4 n4";
  display: grid;
}

.minicontainer-1 {
  grid-area: n1;
}

#hr100 {
  position: absolute;
  width: 10%;
  top: 5%;
  left: 1%;
}



.minicontainer-2 {
  grid-area: n2;
  background-color: #ff00bb;
}

.minicontainer-3 {
  grid-area: n3;
  background-color: #53791f;
}

.minicontainer-4 {
  grid-area: n4;
  background-color: #37ff00;
}
