
/*
        MOBILE START
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --colorBlueTeam: #091fe9;
}

/* Header section */

body {
    background-color: #212121
}

/*******************************************************/
/*                      CABECERA                       */
/*******************************************************/


header{
    width: 100%; 
    max-width: 100%;
    padding-left: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999999;
}

header nav .cabecera {
    color: #fff;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-decoration: none;
}

.cabecera.active{
    background: #707070;
    background: #e90909;
    border-radius: 2px;
}

.cabecera:hover{
    background: #e90909;
    border-radius: 2px;
}

/*******************************************************/
/*                      HOME PAGES                     */
/*******************************************************/


h1 {
    position: absolute;
    left: 9%;
    top: 10%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    unicode-bidi: isolate;
    font-weight: bolder;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: unset;
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    --border-right: 6px;
    --text-stroke-color: rgba(134, 21, 21, 0.6);
    --animation-color: #e90909;
    font-size: 50px;
    top: 20%;
    left: 7%;
    letter-spacing: 3px;
    text-decoration: none;
    font-family: "Arial";
    position: fixed;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0px 12px var(--animation-color))
  }

.description_me {
    position: absolute;
    width: 88%;
    left: 6%;
    top: 36%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(222, 222, 222, 0.759);
    font-size: 17px;
}


#home-content h1 {
    animation: animateLeft 1.1s ease-out forwards;
}

#home-content .description_me {
    animation: animateLeft 1.3s ease-out forwards;
}

#home-content .social_medias {
    animation: animateUp 1.6s ease-out forwards;
}

.social_medias {
    position: absolute;
    width: 70%;
    height: 6%; /* Ajusta según las imágenes */
    left:  7%;
    top: 86%;
    gap: 8px; /* Espacio entre las imágenes */
}

.redes {
    width: 40px; /* Tamaño fijo para las imágenes */
    height: 40px; /* Proporción uniforme */
    object-fit: contain; /* Ajusta la imagen sin deformarla */
}

.social_medias a:nth-child(1) img:hover {
    filter: drop-shadow(0 0px 5px /*rgb(248, 0, 136)*/rgb(255, 0, 0)); /* Sombra roja */
}

.social_medias a:nth-child(2) img:hover {
    filter: drop-shadow(0 0px 5px /*rgba(0, 255, 242, 0.8)*/rgb(255, 0, 0)); /* Sombra verde */
}

.social_medias a:nth-child(3) img:hover {
    filter: drop-shadow(0 0px 5px /*rgb(255, 255, 255)*/rgba(255, 0, 0)); /* Sombra azul */
}

.social_medias a:nth-child(4) img:hover {
    filter: drop-shadow(0 0px 5px /*rgba(255, 51, 0, 0.8)*/rgba(255, 0, 0)); /* Sombra amarilla */
}

.social_medias a:nth-child(5) img:hover {
    filter: drop-shadow(0 0px 5px /*rgba(0, 4, 255, 0.8)*/rgba(255, 0, 0)); /* Sombra naranja */
}

.social_medias a:nth-child(6) img:hover {
    filter: drop-shadow(0 0px 5px /*rgba(0, 4, 255, 0.8)*/rgba(255, 0, 0)); /* Sombra naranja */
}

.enlaces {
    text-decoration: none;
}

/*******************************************************/
/*                   ABOUT ME PAGES                    */
/*******************************************************/

#about-content {
    position: absolute;
    width: 65%;
    padding-top: 0%; /* Empuja todo el contenido hacia abajo */
    top: 20%;
    display: flex;
    flex-direction: column; /* Asegura que los <hr> se apilen correctamente */
}

#about-content hr {
    width: 100%;  /* Mantiene el ancho */
    margin: 4% 0; /* Espaciado uniforme entre líneas */
    border: none;
    height: 1px;
    background-color: #ccc;
}


hr {
    display: block;
    right: 0%;
    width: 75%;
    margin-top: 20%;
    position: relative;
}

h3 {
    left: 5%;
    position: relative;
    display: block;
    font-size: 17px;
    color: #fff;
}

#slide-menu.active {
    bottom: 0;
}

#menu-header {
    text-align: right;
    font-size: 20px;
    cursor: pointer;
}

#menu-content {
    display: flex;
    flex-direction: column; /* Esto pone los elementos en vertical */
    overflow-y: auto; /* Activa el scroll vertical */
    scroll-behavior: smooth;
    gap: 10px;
    position: absolute;
    top: 15%;
    left: 0.5%;
    padding: 10px;
    width: 100%;
    height: 80%;
}

#close-menu {
    position: absolute;
    color: #ffffff;
    background-color: #000000;
    border-radius: 5% 5% 5% 5%;
    width: 40%;
    height: 2%;
    left: 30%;
}


/* Todos los textos estarán visibles por defecto */
.about-text {
    display: none;
    padding: 10px;
    color: #ccc;
}

.description_about_text {
    font-size: 17px;
    text-align: left;
}

/* Estilos del menú deslizante */
#slide-menu {
    position: fixed;
    bottom: -100%;
    left: 2%;
    width: 96%;
    height: 50%;
    color: white;
    padding: 20px;
    border-radius: 15px 15px 0 0;
    transition: bottom 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.description_about_text::-webkit-scrollbar {
    display: none;  
}

#slide-menu.active {
    bottom: 0;
}

#close-menu {
    position: absolute;
    color: #ffffff;
    background-color: #000000;
    border-radius: 5% 5% 5% 5%;
    width: 40%;
    height: 2%;
    left: 30%;
}





/*******************************************************/
/*               CERTIFICATIONS PAGES                  */
/*******************************************************/

#certificates-content {
    position: relative;
    padding-top: 30%; /* Empuja todo el contenido hacia abajo */
    display: flex;
    flex-direction: column; /* Asegura que los <hr> se apilen correctamente */
}

#certificates-content hr {
    width: 75%;  /* Mantiene el ancho */
    margin: 4% 0; /* Espaciado uniforme entre líneas */
    border: none;
    height: 1px;
    background-color: #ccc;
}

.certificaciones {
    left: 20%;
}
