
/* 428x926*/
@media (max-width: 575.98px) {
    /* Estilos más específicos */


    .description {
        position: absolute;
        width: 55%;
        left: 7%;
        top: 27%;
        font-size: 13px;
        text-align: left;
    }

    .social_medias {
        position: absolute;
        width: 60%; /* Ajusta según el contenido */
        height: 6%; /* Ajusta según las imágenes */
        left:  1%;
        top: 80%;
        display: flex;
        gap: 8px; /* Espacio entre las imágenes */
    }

    .redes {
        width: 30px; /* Tamaño fijo para las imágenes */
        height: 30px; /* Proporción uniforme */
        object-fit: contain; /* Ajusta la imagen sin deformarla */
    }

    .welcome {
        position: absolute;
        font-size: 40px;
        word-wrap: break-word;
        white-space: normal;
        text-align: center;
        width: 85%;
        top: 10%;
        left: 5%;

    }

}
  