
/*         DIEGO REIJA PORFOLIO DEV   */

:root {
    --color1: #000000;              
    --color2: rgb(17, 17, 17);      
    --color3: #ffffff;              
    --color4: #757171;              
    --color5: #121212;                       
    --color6: #ff009d;              
    --color7: #ff2600;              
    --color8: #ff0000;
    --color9: #0037ff;
    --color10: #fffb00;
    --color11: #42424c;  
}

body {
    background-color: var(--color5);
    margin: 2%;
}


h1 {
  background: linear-gradient(150deg, var(--color7),var(--color6));
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Arial Black', sans-serif;
  font-weight: bolder;
  font-size: 45px;
  left: 10%;
  position: absolute;
  top: -4%;
}

.contariner {
    display: flex;
    justify-content: center;
}
section {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.037);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(255, 255, 255, 0.037);
    position: absolute;
    width: 88%;
    height: 90%;
    margin: auto;
    left: 6%;
    top: 8%;
    overflow-x: hidden;
    overflow-y: scroll;
}

section::-webkit-scrollbar {
    background-color: transparent;
}

.card {
    position: absolute;
    text-align: center;
    height: 295px;
    width: 230px;
    top: 4%;
    /*min-width: 200px;*/
    border-radius: 16px;
    background: #131315;
    transition: .2s;
    font-family: 'Inter', sans-serif;
}


.card:hover {
    transform: translateY(-0.4rem);
  }
    
  .card-author {
    position: relative;
    display: flex;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 3rem 0 0;
  }
    
  .author-name {
    color: #7a7a8c;
  }
    
  .author-name-prefix {
    color: #ff005d;
    font-weight: 600;
  }
  
  #fecha {
      position: relative;
      color: var(--color3);
      text-align: right;
      margin-top: 7%;
      right: 10%;
  }
  
  .author-avatar span {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f2f2f2;
    margin: 10px 10px;
  }
    
  .half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff4400;
    stroke-width: 8;
    stroke-linecap: round;
  }
    
  .card-header {
    margin-bottom: auto;
    color: #42424c;
  }
    
  .card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #42424c;
  }
    
  .card-header .title {
    font-size: 25px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    font-family: 'Arial Black', sans-serif;
  }
    
  .card-header .title:hover {
    background: linear-gradient(90deg,#ff4400,#ff005d);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #icon-1 {
    position: absolute;
    font-size: 50px;
    left: 4%;
    top: 80%;
    color: var(--color11);
  }
  
  #icon-2 {
    position: absolute;
    font-size: 50px;
    top: 80%;
    left: 24%;
    color: var(--color11);
  }
  
  #icon-3 {
    position: absolute;
    font-size: 50px;
    top: 80%;
    left: 45%;
    color: var(--color11);
  }

  .img {
    position: absolute;
    width: 15%;
    top: 83%;
    left: 48%;
    filter: grayscale(100%);
    color: var(--color11);
  }

.file1 {    
    position: absolute;
    top: 4%;
}

.file2 {    
    position: absolute;
    top: 41%;
}

.file3 {    
    position: absolute;
    top: 78%;
}

.file4 {    
    position: absolute;
    top: 116%;
}

  #card-1 {
    left: 3%;
  }

  #card-2 {
    left: 19%;
  }

  #card-3 {
    left: 35%;
  }

  #card-4 {
    left: 51%;
  }

  #card-5 {
    left: 67%;
  }

  #card-6 {
    left: 83%;
  }

/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/

@media (min-width: 1600px) and (max-width: 1650px) {
    .file1 {    
      position: absolute;
      top: 4%;
    }
  
    .file2 {    
        position: absolute;
        top: 41%;
    }
    
    .file3 {    
        position: absolute;
        top: 78%;
    }
    
    .file4 {    
        position: absolute;
        top: 116%;
    }
    
      #card-1 {
        left: 3%;
      }
    
      #card-2 {
        left: 22%;
      }
    
      #card-3 {
        left: 41%;
      }
    
      #card-4 {
        left: 60%;
      }
    
      #card-5 {
        left: 80%;
      }
    
      #card-6 {
        left: 93%;
      }
}

@media (min-width: 1550px) and (max-width: 1600px) {
    .file1 {    
      position: absolute;
      top: 4%;
    }
  
    .file2 {    
        position: absolute;
        top: 41%;
    }
    
    .file3 {    
        position: absolute;
        top: 78%;
    }
    
    .file4 {    
        position: absolute;
        top: 116%;
    }
    
      #card-1 {
        left: 3%;
      }
    
      #card-2 {
        left: 22%;
      }
    
      #card-3 {
        left: 41%;
      }
    
      #card-4 {
        left: 61%;
      }
    
      #card-5 {
        left: 80%;
      }
    
      #card-6 {
        left: 93%;
      }
}

@media (min-width: 1500px) and (max-width: 1550px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }
  
  .file2 {    
    position: absolute;
    top: 41%;
  }
    
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 4%;
  }
    
  #card-2 {
    left: 23%;
  }
    
  #card-3 {
    left: 42%;
  }
    
  #card-4 {
    left: 61%;
  }
  
  #card-5 {
    left: 80%;
  }
    
  #card-6 {
    left: 95%;
  }
}

@media (min-width: 1450px) and (max-width: 1500px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }
  
  .file2 {    
    position: absolute;
    top: 41%;
  }
    
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 4%;
  }
    
  #card-2 {
    left: 23%;
  }
    
  #card-3 {
    left: 42%;
  }
    
  #card-4 {
    left: 61%;
  }
  
  #card-5 {
    left: 80%;
  }
    
  #card-6 {
    left: 95%;
  }
}

@media (min-width: 1400px) and (max-width: 1450px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }
  
  .file2 {    
    position: absolute;
    top: 41%;
  }
    
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 4%;
  }
    
  #card-2 {
    left: 23%;
  }
    
  #card-3 {
    left: 42%;
  }
    
  #card-4 {
    left: 61%;
  }
  
  #card-5 {
    left: 80%;
  }
    
  #card-6 {
    left: 95%;
  }
}

@media (min-width: 1350px) and (max-width: 1400px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }
  
  .file2 {    
    position: absolute;
    top: 41%;
  }
  
  .file1-1 {
    top: 45%;
  }
  
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 4%;
  }
    
  #card-2 {
    left: 30%;
  }
    
  #card-3 {
    left: 55%;
  }
    
  #card-4 {
    left: 80%;
  }
  
  #card-5 {
    left: 4%;
  }
    
  #card-6 {
    left: 30%;
  }
}

@media (min-width: 1300px) and (max-width: 1350px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }
  
  .file2 {    
    position: absolute;
    top: 41%;
  }
  
  .file1-1 {
    top: 45%;
  }
  
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 4%;
  }
    
  #card-2 {
    left: 30%;
  }
    
  #card-3 {
    left: 55%;
  }
    
  #card-4 {
    left: 80%;
  }
  
  #card-5 {
    left: 4%;
  }
    
  #card-6 {
    left: 30%;
  }
}

@media (min-width: 1250px) and (max-width: 1300px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }
  
  .file2 {    
    position: absolute;
    top: 41%;
  }
  
  .file1-1 {
    top: 45%;
  }
  
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 4%;
  }
    
  #card-2 {
    left: 27%;
  }
    
  #card-3 {
    left: 52%;
  }
    
  #card-4 {
    left: 77%;
  }
  
  #card-5 {
    left: 4%;
  }
    
  #card-6 {
    left: 30%;
  }
}

@media (min-width: 1200px) and (max-width: 1250px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }
  
  .file2 {    
    position: absolute;
    top: 41%;
  }
  
  .file1-1 {
    top: 45%;
  }
  
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 4%;
  }
    
  #card-2 {
    left: 27%;
  }
    
  #card-3 {
    left: 52%;
  }
    
  #card-4 {
    left: 77%;
  }
  
  #card-5 {
    left: 4%;
  }
    
  #card-6 {
    left: 30%;
  }
}

@media (min-width: 1150px) and (max-width: 1200px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }
  
  .file2 {    
    position: absolute;
    top: 41%;
  }
  
  .file1-1 {
    top: 45%;
  }
  
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 4%;
  }
    
  #card-2 {
    left: 28%;
  }
    
  #card-3 {
    left: 52%;
  }
    
  #card-4 {
    left: 77%;
  }
  
  #card-5 {
    left: 4%;
  }
    
  #card-6 {
    left: 30%;
  }
}

@media (min-width: 1100px) and (max-width: 1150px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }

  .file1-1 {
    top: 45%;
  } 

  .file1-1-1 {
    top: 45%;
  }

  .file2 {    
    position: absolute;
    top: 41%;
  }
  

  
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 4%;
  }
    
  #card-2 {
    left: 37%;
  }
    
  #card-3 {
    left: 70%;
  }
    
  #card-4 {
    left: 4%;
  }
  
  #card-5 {
    left: 37%;
  }
    
  #card-6 {
    left: 70%;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }

  .file1-1 {
    top: 45%;
  } 

  .file1-1-1 {
    top: 45%;
  }

  .file2 {    
    position: absolute;
    top: 41%;
  }
  

  
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 4%;
  }
    
  #card-2 {
    left: 37%;
  }
    
  #card-3 {
    left: 70%;
  }
    
  #card-4 {
    left: 4%;
  }
  
  #card-5 {
    left: 37%;
  }
    
  #card-6 {
    left: 70%;
  }
}

@media (min-width: 650px) and (max-width: 900px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }

  .file1-1-1 {
    top: 45%;
  }

  .file2 {    
    position: absolute;
    top: 41%;
  }
  
  .file2-2 {
    top: 86%;
  }

  
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 10%;
  }
    
  #card-2 {
    left: 60%;
  }
    
  #card-3 {
    left: 10%;
  }
    
  #card-4 {
    left: 60%;
  }
  
  #card-5 {
    left: 10%;
  }
    
  #card-6 {
    left: 60%;
  }
}

@media (min-width: 600px) and (max-width: 650px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }

  .file1-1-1 {
    top: 45%;
  }

  .file2 {    
    position: absolute;
    top: 41%;
  }
  
  .file2-2 {
    top: 86%;
  }

  
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 4%;
  }
    
  #card-2 {
    left: 55%;
  }
    
  #card-3 {
    left: 4%;
  }
    
  #card-4 {
    left: 55%;
  }
  
  #card-5 {
    left: 4%;
  }
    
  #card-6 {
    left: 55%;
  }
}

@media (min-width: 560px) and (max-width: 600px) {
  .file1 {    
    position: absolute;
    top: 4%;
  }

  .file1-1-1 {
    top: 45%;
  }

  .file2 {    
    position: absolute;
    top: 41%;
  }
  
  .file2-2 {
    top: 86%;
  }

  
  .file3 {    
    position: absolute;
    top: 78%;
  }
    
  .file4 {    
    position: absolute;
    top: 116%;
  }
    
  #card-1 {
    left: 4%;
  }
    
  #card-2 {
    left: 53%;
  }
    
  #card-3 {
    left: 4%;
  }
    
  #card-4 {
    left: 53%;
  }
  
  #card-5 {
    left: 4%;
  }
    
  #card-6 {
    left: 53%;
  }
}

@media (min-width: 300px) and (max-width: 560px) {
    
  #card-1 {
    left: 4%;
    top: 2%;
  }
    
  #card-2 {
    left: 4%;
    top: 42%;
  }
    
  #card-3 {
    left: 4%;
    top: 83%;
  }
    
  #card-4 {
    left: 4%;
    top: 125%;
  }
  
  #card-5 {
    left: 4%;
    top: 166%;
  }
    
  #card-6 {
    left: 53%;
  }
}

@media (min-width: 250px) and (max-width: 300px) {
    
  h1 {
    font-size: 35px;
    left: 10%;
    top: -2%;
  }

  .card {
    position: absolute;
    text-align: center;
    height: 265px;
    width: 200px;
    top: 4%;
    /*min-width: 200px;*/
    border-radius: 16px;
    background: #131315;
    transition: .2s;
    font-family: 'Inter', sans-serif;
  }

  .card-header .title {
    font-size: 22px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    font-family: 'Arial Black', sans-serif;
  }

  #card-1 {
    left: 4%;
    top: 2%;
  }
    
  #card-2 {
    left: 4%;
    top: 42%;
  }
    
  #card-3 {
    left: 4%;
    top: 83%;
  }
    
  #card-4 {
    left: 4%;
    top: 125%;
  }
  
  #card-5 {
    left: 4%;
    top: 166%;
  }
    
  #card-6 {
    left: 53%;
  }
}