/* DIEGO REIJA LOPEZ */

@import url(https://use.fontawesome.com/releases/v6.5.1/css/all.css);

:root {
    .black {color: #000000};
    .white {color: #ffffff};
    .red {color: #ff0000};
    .gradient-1 {background: linear-gradient(150deg, #ff2600, #ff009d);
                 background-clip: text;
                 text-shadow: none;
                 -webkit-background-clip: text;
                 -webkit-text-fill-color: transparent;
                 font-family: 'Arial Black', sans-serif;
                 font-weight: bolder;};
    .gray {color:rgb(17, 17, 17)};
    .grey {color: #717571};

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% del viewport height */
    background-color: rgb(17, 17, 17);
}

/***********************************************************************************/

.orange {
    color: #ff7a01;
  }
  
  .form-container {
    max-width: 700px;
    margin: 30px;
    background-color: rgb(17, 17, 17);
    padding: 30px;
    border-left: 5px solid #ff009d;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  }
  
  .heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .form-container .form .input {
    color: #ff009d;
    width: 100%;
    background-color: rgb(17, 17, 17);
    border: 1px solid linear-gradient(150deg, #ff2600, #ff009d);
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
  }
  
  .form-container .form .input:focus {
    border-left: 5px solid #ff7a01;
  }
  
  .form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(17, 17, 17);
    color: #ffffff;
    font-weight: bold;
    font-size: 21px;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .textarea:focus {
    border-left: 5px solid #ff7a01;
  }
  
  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }
  
  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: linear-gradient(150deg, #ff2600, #ff009d);
    padding: 10px;
    color: #001925;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #ff7a01;
    color: #ff7a01;
  }
  
  .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #ff7a01);
    flex-basis: 30%;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #ff7a01;
    font-weight: bold;
    background: #001925;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button:hover {
    background: linear-gradient(150deg, #ff2600, #ff009d);
    color: #001925;
  }