
/************************************************************/
/*                      IPHONE 13                           */
@media (max-width: 390px) and (max-height: 844px) {
    
    .container {
        position: relative;
        right: 2%;
        top: 2%;
        width: 92%;
        height: 94%;
        gap: 2%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(16,1fr);
        grid-template-areas: 
        "n1 n1 n1 n1 n1"
        "n1 n1 n1 n1 n1"
        "n1 n1 n1 n1 n1"
        "n1 n1 n1 n1 n1"
        "n2 n2 n2 n2 n2"
        "n2 n2 n2 n2 n2"
        "n2 n2 n2 n2 n2"
        "n2 n2 n2 n2 n2"
        "n2 n2 n2 n2 n2"
        "n2 n2 n2 n2 n2"
        "n2 n2 n2 n2 n2"
        "n2 n2 n2 n2 n2"
        "n2 n2 n2 n2 n2"
        "n2 n2 n2 n2 n2"
        "n3 n3 n3 n3 n3"
        "n3 n3 n3 n3 n3";
    }

    .container-1 {
        width: 100%;
        height: 100%;
        grid-area: n1;
        display: grid;
    }

    .subcontainer {
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "n1 n1 n1 n2 n2 n2 n2 n2 n2"
        "n1 n1 n1 n3 n3 n3 n3 n3 n3"
        "n1 n1 n1 n3 n3 n3 n3 n3 n3";
    }

    .subcontainer-1-1 {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 16px 0px 0px 16px;
    }

    h2 {
        position: relative;
        font-size: 20px;
        margin-top: 3%; 
        left: -5%;
        white-space: nowrap; 
        grid-area: n2;
    }
   
    .descricion_welcome {
        position: relative;
        font-size: 11px;
        margin-top: -8%;
    }

    #hr8 {
        position: relative;
        margin-top: -100%;
        width: 90%;
        left: -20%;
    }

    #hr9 {
        position: relative;
        top: 0%;
        width: 0.2%;
        height: 210%;
        left: 0%;
    }

    #hr10 {
        top: 220%;
        width: 0%;
        height: 0.75%;
        left: 30%;
    }
      
    #hr11 {
        top: 270%;
        width: 0%;
        height: 0.75%;
        left: 30%;
    }

    p {
        font-size: 8.5px;
    }

    .descriptions {
        position: relative;
        margin-top: -1.5%;
        margin-left: -14%;
        font-size: 10.5px;
    }
 
    i {
        font-size: 150%;
        margin-left: 20%;
        margin-top: 10%;
        color: #42424c;    
    }

    .bxl-github {
        position: absolute;
        margin-top: 26%;
        margin-left: 73%;
    }

    .bxl-instagram {
        position: absolute;
        margin-top: 26%;
        left: 57%;
    }

    .bxl-twitter {
        position: absolute;
        margin-top: 26%;
        left: 70%;
    }
    
    .bxl-spotify {
        position: absolute;
        margin-top: 26%;
        left: 83%;
    }

    #CV {
        top: 84%;
        left: 73%;
    }

    
    .btn {
        --border-color: linear-gradient(150deg, #ff2600, #ff009d);
        --border-width: 0.1em;
        --curve-size: 0.5em;
        --blur: 30px;
        --bg: rgb(17, 17, 17);
        --color: #ffffff;
        color: var(--color);
        cursor: pointer;
        position: relative;
        isolation: isolate;
        display: inline-grid;
        place-content: center;
        padding: 0.2em 0.3em;
        font-size: 10px;
        font-weight: bolder;
        border: 0;
        text-transform: uppercase;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
        clip-path: polygon(
          0% var(--curve-size),
          var(--curve-size) 0,100% 0,
          100% calc(100% - var(--curve-size)),
          calc(100% - var(--curve-size)) 100%,
           0 100%
        );
        transition: color 250ms;
        white-space: nowrap;
    }

    #españa {
        position: absolute;
        top: 192%;
        left: 45%;
        width: 0%;
    }
      
    #reino_unido {
        position: absolute;
        top: 193%;
        width: 0%;
        left: 60%;
    }/**/
/********************************************************************************************************************************************/

    .container-2-part-2,
    .container-6-part-6,
    .container-3-part-3 {
        width: 100%;
        height: 90%;
        grid-area: n2;
    }

    #welcome {
        font-size: 28px;
        top: 0%;
        left: 2%;
    }

    .container-3 {
        width: 100%;
        height: 100%;
        margin-left: 1%;
        grid-area: n3;
        margin-top: -10%;
    }

    .bx-user {
        position: absolute;
        font-size: 275%;
        left: -14%;
        top: -35%;
    }

    .bxs-award {
        position: absolute;
        font-size: 275%;
        left: 7%;
        top: -35%; 
    }

    .bx-code-alt {
        position: absolute;
        font-size: 275%;
        left: 25%;
        top: -35%; 
    }

    .bx-history {
        position: absolute;
        font-size: 275%;
        left: 45%;
        top: -35%; 
    }

    .bx-question-mark {
        position: absolute;
        font-size: 275%;
        left: 62%;
        top: -35%; 
    }

    #hr1 {
        position: absolute;
        top: 13%;
        width: 0.2%;
        height: 50%;
        left: 22%;
    }

    #hr2 {
        position: absolute;
        top: 13%;
        width: 0.2%;
        height: 50%;
        left: 42%;
    }

    #hr3 {
        position: absolute;
        top: 13%;
        width: 0.2%;
        height: 50%;
        left: 61%;
    }

    #hr12 {
        position: absolute;
        top: 33%;
    }

    #hr13 {
        position: absolute;
        top: 68%;
    }


    #hr20  {
        position: absolute;
        top: 13%;
        width: 0.2%;
        height: 50%;
        left: 81%;
    }

    h3 {
        font-size: 13px;
        margin-top: 7%;
        white-space: nowrap;
    }
      
    #future {
        margin-top: 24%;
    }

    .descricion_welcome_2 {
        position: absolute;
        font-size: 11px;
        top: 39%;
    }
      
      .descricion_welcome_3 {
        position: absolute;
        font-size: 11px;
        top: 74%;
    }
/**/
/********************************************************************************************************************************************/
/********************************************************************************************************************************************/
/********************************************************************************************************************************************/

    .certifications_imgs_red_team {
        width: 42%;  
        filter: url(#drop-shadow) grayscale(100%);
        border-radius: 5px; 
    }

    #ejpt {
        position: absolute;
        top: 4%;
        left: 4%;
    }
      
    #ecppt {
        position: absolute;
        top: 4%;
        left: 52%;
    }
      
    #ewptx {
        position: absolute;
        top: 31%;
        left: 4%;
    }

    #emapt {
        position: absolute;
        top: 31%;
        left: 52%;
    }/**/


/********************************************************************************************************************************************/
/********************************************************************************************************************************************/
/********************************************************************************************************************************************/
    .proyectos {
        position: absolute;
        width: 90%;
        margin: 5px;
        height: 85%;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 10%;
        left: 5%;
        grid-area: n4;
        gap: 8px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4);
        grid-template-areas: 
        "n1 n2 n3 n4"
        "n5 n6 n7 n8"
        "n9 n10 n11 n12"
        "n13 n14 n15 n16";
    }

    .card {
        height: 170px;
        width: 125px;
        top: 4%;
        border-radius: 7px;
    }
  
    #fecha {
        position: relative;
        color: var(--color3);
        text-align: right;
        margin-top: 7%;
        right: 10%;
    }

    .card-header p {
        font-size: 10px;
        margin: 0 0 1rem;
        color: #42424c;
    }

    .title {
        position: relative;
        font-size: 16px;
        text-align: center;
        font-family: 'Arial Black', sans-serif;
        margin: 20px;
        color: #42424c;
    }

    #icon-1, #icon-2, #icon-3, #icon-4, #icon-5 {
        position: absolute;
        font-size: 15px;    
        top: 28%;
        background: linear-gradient(90deg,#ff4400,#ff005d);
        text-shadow: none;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    .file1 { top: 5% }
    .file2 { top: 75% }
    .file3 { top: 145% }
    .file4 { top: 500% }


    #card-1 { grid-area: n1; left: 20%; }
    #card-2 { grid-area: n2; left: 130%; }
    #card-3 { grid-area: n3; left: -200%; top: 225% }
    #card-4 { grid-area: n4; left: -100%; top: 225% }
    #card-5 { grid-area: n5; left: 21%; top: 340% }
    #card-6 { grid-area: n6; left: 15%; top: 340% }
    #card-7 { grid-area: n7; left: 15% }
    #card-8 { grid-area: n8; left: 15% }
    #card-9 { grid-area: n9 }
    #card-10 { grid-area: n10; left: 15% }
    #card-11 { grid-area: n11; left: 15% }
    #card-12 { grid-area: n12; left: 15% }

    .empresa {
        font-size: 12px;
        color: #42424c;
        top: 82%;
        left: 17%; 
    }















}

