#yo {
    width: 30%;
    position: absolute;
    width: 35%;
    left: 8%;
    top: 30%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(222, 222, 222, 0.759);
    font-size: 18px;
}

.card {
    width: 260px; /*modificar*/
    height: 354px;/*modificar*/
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    /*box-shadow: 0px 0px 3px 1px ;*/
    cursor: pointer;
    left: 60%;
    top: 20%;
  }
  
  .card .content {
    border-radius: 5px;
    background: #171717;
    width: 256px; /*modificar*/ 
    height: 350px; /*modificar*/
    z-index: 1;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content::before {
    opacity: 0;
    transition: opacity 300ms;
    content: " ";
    display: block;
    background: white;
    width: 5px;
    height: 50px;
    position: absolute;
    filter: blur(50px);
    overflow: hidden;
  }
  
  .card:hover .content::before {
    opacity: 1;
  }
  
  .card::before {
    opacity: 0;
    content: " ";
    position: absolute;
    display: block;
    width: 110px;
    height: 380px;
    background: linear-gradient(#ff2288, #387ef0);
    transition: opacity 300ms;
    animation: rotation_9018 8000ms infinite linear;
    animation-play-state: paused;
  }
  
  .card:hover::before {
    opacity: 1;
    animation-play-state: running;
  }
  
  .card::after {
    position: absolute;
    content: " ";
    display: block;
    width: 280px;
    height: 390px;
    background: #17171733;
    backdrop-filter: blur(50px);
  }
  
  @keyframes rotation_9018 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animateLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
        filter: blur(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
        
    }
}

@keyframes animateUp {
    from {
        opacity: 0;
        transform: translateY(100px);
        filter: blur(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

#about-content #yo {
    animation: animateLeft 1.1s ease-out forwards;
}

#about-content .card {
    animation: animateLeft 1.3s ease-out forwards;
}
/*
#home-content .social_medias {
    animation: animateUp 1.6s ease-out forwards;
}
*/
#about-content {
    overflow-y: scroll;
    scroll-behavior: smooth;    
}

#yo {
    width: 30%;
    position: absolute;
    width: 35%;
    left: 8%;
    top: 30%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(222, 222, 222, 0.759);
    font-size: 18px;
}

.card {
    width: 260px; /*modificar*/
    height: 354px;/*modificar*/
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    /*box-shadow: 0px 0px 3px 1px ;*/
    cursor: pointer;
    left: 60%;
    top: 20%;
  }
  
  .card .content {
    border-radius: 5px;
    background: #171717;
    width: 256px; /*modificar*/ 
    height: 350px; /*modificar*/
    z-index: 1;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content::before {
    opacity: 0;
    transition: opacity 300ms;
    content: " ";
    display: block;
    background: white;
    width: 5px;
    height: 50px;
    position: absolute;
    filter: blur(50px);
    overflow: hidden;
  }
  
  .card:hover .content::before {
    opacity: 1;
  }
  
  .card::before {
    opacity: 0;
    content: " ";
    position: absolute;
    display: block;
    width: 110px;
    height: 380px;
    background: linear-gradient(#ff2288, #387ef0);
    transition: opacity 300ms;
    animation: rotation_9018 8000ms infinite linear;
    animation-play-state: paused;
  }
  
  .card:hover::before {
    opacity: 1;
    animation-play-state: running;
  }
  
  .card::after {
    position: absolute;
    content: " ";
    display: block;
    width: 280px;
    height: 390px;
    background: #17171733;
    backdrop-filter: blur(50px);
  }
  
  @keyframes rotation_9018 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animateLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
        filter: blur(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
        
    }
}

@keyframes animateUp {
    from {
        opacity: 0;
        transform: translateY(100px);
        filter: blur(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

#about-content #yo {
    animation: animateLeft 1.1s ease-out forwards;
}

#about-content .card {
    animation: animateLeft 1.3s ease-out forwards;
}
/*
#home-content .social_medias {
    animation: animateUp 1.6s ease-out forwards;
}
*/
#about-content {
    overflow-y: scroll;
    scroll-behavior: smooth;    
}



/*
        MEDIAS QUERRYS DESKTOP DEFAULT
*/

@media (max-width: 575.98px) {
  /* Estilos más específicos */

  #yo {
    width: 45%;
    left: 3%;
    top: 20%;
    font-size: 13px;
  }

  .card {
    width: 175px; /*modificar*/
    height: 265px;/*modificar*/
    display: flex;
    left: 53.5%;
    top: 20%;
    border-radius: 10px;

  }

  .card .content {
    border-radius: 10px;
    width: 170px; /*modificar*/ 
    height: 260px; /*modificar*/
    z-index: 1;
    padding: 20px;
    left: 80%;
  }

}

                /* 767.98px*/
@media (max-width: 768px) { 

  #yo {
    width: 45%;
    left: 5%;
    top: 22%;
    font-size: 18px;
  }
}