/* DIEGO REIJA LOPEZ */

@import url(https://use.fontawesome.com/releases/v6.5.1/css/all.css);

:root {
    .black {color: #000000};
    .white {color: #ffffff};
    .red {color: #ff0000};
    .gradient-1 {background: linear-gradient(150deg, #ff2600, #ff009d);
                 background-clip: text;
                 text-shadow: none;
                 -webkit-background-clip: text;
                 -webkit-text-fill-color: transparent;
                 font-family: 'Arial Black', sans-serif;
                 font-weight: bolder;};
    .gray {color:rgb(17, 17, 17)};
    .grey {color: #717571};

}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% del viewport height */
    background-color: rgb(17, 17, 17);
}

.container {
    position: absolute;
    width: 99.5%;
    height: 97%;
    left: 0%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(9,1fr);
    grid-template-areas: 
    "n1 n1 n2 n2 n2 n2 n2 n2 n2 n2"
    "n1 n1 n2 n2 n2 n2 n2 n2 n2 n2"
    "n1 n1 n2 n2 n2 n2 n2 n2 n2 n2"
    "n1 n1 n2 n2 n2 n2 n2 n2 n2 n2"
    "n1 n1 n2 n2 n2 n2 n2 n2 n2 n2"
    "n1 n1 n2 n2 n2 n2 n2 n2 n2 n2"
    "n1 n1 n2 n2 n2 n2 n2 n2 n2 n2"
    "n1 n1 n2 n2 n2 n2 n2 n2 n2 n2"
    "n1 n1 n2 n2 n2 n2 n2 n2 n2 n2";
    gap: 15px;
}

.item1 {
    align-items: center;
    /*background: linear-gradient(135deg, #ff2600, #ff009d);*/
    border-radius: 0px 21px 21px 0px ;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(255, 255, 255, 0.123);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.item1::-webkit-scrollbar {
  width: 1px;
}

.item1::-webkit-scrollbar-track {
  background-color: transparent; /* Color de fondo del scrollbar */
}


.item1 {
    grid-area: n1;
}

.item2 {
    align-items: center;
    /*background: linear-gradient(135deg, #ff2600, #ff009d);*/
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
}

.item2 {
    grid-area: n2;
}


/*******************************************************************************/

.nav {
  width: 100%;
  margin-top: 25%;
}

.list {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.list_items {
  list-style: none;
  width: 100%;
  overflow: hidden;
}

.nav_link {
  color: #ffffff;
  display: block;
  padding:  15px 0;
  text-decoration: none;
  font-size: 15px;
}

.nav_link_inside {
  margin-left: 10%;
}

.nav_link_inside:hover {
  background: linear-gradient(135deg, #ff2600, #ff009d);
  border-radius: 10px;
}

.list_show {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #ff2600;
  list-style: none;
  transition: height .4s;
  height: 0;
}

.link_inside {
  border-radius: 6px;
  padding-left: 20px;
}

.arrow .list_arrow {
  transform: rotate(90deg);
}

.list_arrow {
  margin-left: auto;
  transition: transform 0.3s;

}

i {
  position: absolute;
  left: 85%;
  margin-top: -9%;
}

.list_items:hover {
  background-color: linear-gradient(135deg, #ff2600, #ff009d);
  border-radius: 10px;
  color: #000000;
  font-weight: bolder;
}

